* {
  box-sizing: border-box;
}

.body {
  color: #161616;
  font-size: 20px;
  font-family: 'Trirong', sans-serif;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

#home {
  position: relative;
  top: -70px;
  height: 104vh;
  color: white;
  border-bottom: 1px solid black;
  background: no-repeat center center fixed;
  background-image:
  linear-gradient(
  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 100, 0.3)
  ),
  url('https://images.unsplash.com/42/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=c9ccdd64d6de7dac658ea462d18de097');
  background-size: cover;
}

#home h1 {
  font-size: 10vw;
}

.nav-main {
  transition: all 0.3s;
  font-variant: small-caps;
}

.nav-blue {
  background-color: #0E1A32;
  opacity: 0.6;
}

.header-text, .card-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50%;
  font-variant: small-caps;
}

.about {
  position: relative;
  height: 60vh;
}

.about-text {
  margin-top: 30px;
}

.card {
  position: relative;
  margin-top: 20px;
  height: 150px;
  border-radius: 8px;
}

.work-row {
  height: 400px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.work-sample {
  height: 380px;
  background: no-repeat center center;
  background-size: cover;
  transition: all 0.3s;
  border: 1px solid #161616;
  border-radius: 4px;
}
.s0 {
  background-image: url('https://s11.postimg.org/57ddax5xv/Screen_Shot_2017-04-06_at_11.26.04_AM.png');
}
.s1 {
  background-image: url('https://s33.postimg.org/84z58z1db/Screen_Shot_2016-05-25_at_10.42.36_PM.png');
}
.s2 {
  background-image: url('https://s15.postimg.org/4fiu25u4r/Screen_Shot_2017-04-06_at_11.26.16_AM.png');
}
.s3 {
  background-image: url('https://s33.postimg.org/67qpkb4tr/Screen_Shot_2016_05_24_at_11_14_30_PM.png')
}
.s4 {
  background-image: url('https://s23.postimg.org/d5xlsy0dn/Screen_Shot_2017-04-06_at_12.19.13_PM.png');
}

.tag {
  display: inline-block;
  height: 50px;
  width: 120px;
  padding-top: 10px;
  border: 2px solid #8D4F45;
  font-variant: small-caps;
}

#social {
  position: relative;
  margin-top: 40px;
}
.social-ul {
  text-align: center;
  position: absolute;
  bottom: 0;
}

.social-ul a:hover {
  text-decoration: none;
  transition: all 0.3s;
  color: #a54242;
}
